{% extends 'layout.html.twig' %}

{% block contents %}
<h2>Mes articles</h2>
<form method="post">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title">
    <br>
    <label for="content">Content</label>
    <textarea name="content" placeholder="Content"></textarea>
    <input type="submit" name="submit" value="Submit">
</form>
<br>
<a href="/">Back</a>
{% endblock %}